<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @course.title %>
</p>


<table>
<% @lectures.each do |lec| %>
  <tr>
  <td><%= lec.content %></td>
  <td><%= lec.attachment %></td>
  </tr>
  <% end %>  
  </table>

    
     
   



<%= link_to 'Edit', edit_course_path(@course) %> |
<%= link_to 'Back', courses_path %>
